.vsconfig
*.csproj
*.sln
.vs/
.vscode/
Library/
Logs/
obj/
Temp/
UserSettings/Layouts/
*.7z
UserSettings/EditorUserSettings.asset
Assets/StreamingAssets/
HybridCLRData/StrippedAOTDllsTempProj/
HybridCLRData/
Sandbox/
Bundles/
